<div class="page-header">
  <h3>User Cheat Allowance #<%= @user_cheat_allowance.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Cheat calories</dt>
      <dd><%= @user_cheat_allowance.cheat_calories %></dd>

      <dt>Cheat carbs</dt>
      <dd><%= @user_cheat_allowance.cheat_carbs %></dd>

      <dt>Cheat fat</dt>
      <dd><%= @user_cheat_allowance.cheat_fat %></dd>

      <dt>Cheat sugar</dt>
      <dd><%= @user_cheat_allowance.cheat_sugar %></dd>

      <dt>Week date</dt>
      <dd><%= @user_cheat_allowance.week_date %></dd>

      <dt>User</dt>
      <dd><%= @user_cheat_allowance.user_id %></dd>

      <dt>Foodscatagory</dt>
      <dd><%= @user_cheat_allowance.foodscatagory_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_cheat_allowances" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @user_cheat_allowance.user %>
        <a href="/user_cheat_allowances/<%= @user_cheat_allowance.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_user_cheat_allowance/<%= @user_cheat_allowance.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
