<!-- Validation failure messages -->
<% if @favorite_food.errors.any? %>
  <% @favorite_food.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Favorite Food #<%= @favorite_food.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_favorite_food/<%= @favorite_food.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for favoritefood_name -->
      <div class="form-group">
        <label for="favoritefood_name" class="control-label">
          Favoritefood name
        </label>

        <input type="text" id="favoritefood_name" name="favoritefood_name" placeholder="Favoritefood name" class="form-control" value="<%= @favorite_food.favoritefood_name %>">
      </div>

      <!-- Label and input for foods_id -->
      <div class="form-group">
        <label for="foods_id" class="control-label">
          Foods
        </label>

        <%= select_tag(:foods_id, options_from_collection_for_select(Food.all, :id, :food_name, @favorite_food.foods_id), :class => "form-control") %>
      </div>

      
      

      <button class="btn btn-warning">
        Update Favorite Food
      </button>
      or
      <a href="/favorite_foods/<%= @favorite_food.id %>">Cancel</a>
    </form>
  </div>
</div>
