<!-- Validation failure messages -->
<% if @weekly_workout.errors.any? %>
  <% @weekly_workout.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Weekly Workout #<%= @weekly_workout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_weekly_workout/<%= @weekly_workout.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @weekly_workout.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for daily_workout_counter -->
      <div class="form-group">
        <label for="daily_workout_counter" class="control-label">
          Daily workout counter
        </label>

        <input type="text" id="daily_workout_counter" name="daily_workout_counter" placeholder="Daily workout counter" class="form-control" value="<%= @weekly_workout.daily_workout_counter %>">
      </div>

      <button class="btn btn-warning">
        Update Weekly Workout
      </button>
      or
      <a href="/weekly_workouts/<%= @weekly_workout.id %>">Cancel</a>
    </form>
  </div>
</div>
