<div class="page-header">
  <h3>Weekly Workout #<%= @weekly_workout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @weekly_workout.user.present? %>
          <a href="/users/<%= @weekly_workout.user_id %>">
            <%= @weekly_workout.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Daily workout counter</dt>
      <dd><%= @weekly_workout.daily_workout_counter %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/weekly_workouts" class="btn btn-primary">
        Back
      </a>
      <a href="/weekly_workouts/<%= @weekly_workout.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_weekly_workout/<%= @weekly_workout.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Weekly workout has many daily_workouts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Daily Workouts
      </li>

      <% @weekly_workout.daily_workouts.each do |daily_workout| %>
        <li class="list-group-item">
          <a href="/daily_workouts/<%= daily_workout.id %>">
            <%= daily_workout.workout_date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/daily_workouts/<%= daily_workout.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/daily_workouts/<%= daily_workout.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_daily_workout/<%= daily_workout.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_daily_workout" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for workout_date -->
      <div class="form-group">
        <label for="workout_date" class="control-label">
          Workout date
        </label>

        <input type="text" id="workout_date" name="workout_date" placeholder="Workout date" class="form-control" value="">
      </div>

      <!-- Label and input for dailyworkout_check -->
      <div class="checkbox">
        <label for="dailyworkout_check">
          <input type="checkbox" id="dailyworkout_check" name="dailyworkout_check" value="1" <%= "checked" if @daily_workout.dailyworkout_check %>>
          Dailyworkout check
        </label>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for weeklyworkout_id -->
      <div class="form-group">
        <label for="weeklyworkout_id" class="control-label">
          Weeklyworkout
        </label>

        <%= select_tag(:weeklyworkout_id, options_from_collection_for_select(WeeklyWorkout.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Daily Workout
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
