<div class="page-header">
  <h3>Weekly Workout #<%= @weekly_workout.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @weekly_workout.user_id %></dd>

      <dt>Daily workout counter</dt>
      <dd><%= @weekly_workout.daily_workout_counter %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/weekly_workouts" class="btn btn-primary">
        Back
      </a>
      <a href="/weekly_workouts/<%= @weekly_workout.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_weekly_workout/<%= @weekly_workout.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Weekly workout has many daily_workouts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Daily Workouts
      </li>

      <% @weekly_workout.daily_workouts.each do |daily_workout| %>
        <li class="list-group-item">
          <a href="/daily_workouts/<%= daily_workout.id %>">
            <%= daily_workout.workout_date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/daily_workouts/<%= daily_workout.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/daily_workouts/<%= daily_workout.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_daily_workout/<%= daily_workout.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
