<div class="page-header">
  <h3>Foods Catagory #<%= @foods_catagory.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Foodcatagory name</dt>
      <dd><%= @foods_catagory.foodcatagory_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/foods_catagories" class="btn btn-primary">
        Back
      </a>
      <a href="/foods_catagories/<%= @foods_catagory.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_foods_catagory/<%= @foods_catagory.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Foods catagory has many foods_nutritions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Foods Nutritions
      </li>

      <% @foods_catagory.foods_nutritions.each do |foods_nutrition| %>
        <li class="list-group-item">
          <a href="/foods_nutritions/<%= foods_nutrition.id %>">
            <%= foods_nutrition.foods_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/foods_nutritions/<%= foods_nutrition.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/foods_nutritions/<%= foods_nutrition.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_foods_nutrition/<%= foods_nutrition.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_foods_nutrition" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for foods_id -->
      <div class="form-group">
        <label for="foods_id" class="control-label">
          Foods
        </label>

        <%= select_tag(:foods_id, options_from_collection_for_select(Food.all, :id, :food_name), :class => "form-control") %>
      </div>

      <!-- Label and input for foodscatagory_id -->
      <div class="form-group">
        <label for="foodscatagory_id" class="control-label">
          Foodscatagory
        </label>

        <%= select_tag(:foodscatagory_id, options_from_collection_for_select(FoodsCatagory.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for foods_calories -->
      <div class="form-group">
        <label for="foods_calories" class="control-label">
          Foods calories
        </label>

        <input type="text" id="foods_calories" name="foods_calories" placeholder="Foods calories" class="form-control" value="">
      </div>

      <!-- Label and input for foods_carbs -->
      <div class="form-group">
        <label for="foods_carbs" class="control-label">
          Foods carbs
        </label>

        <input type="text" id="foods_carbs" name="foods_carbs" placeholder="Foods carbs" class="form-control" value="">
      </div>

      <!-- Label and input for foods_fat -->
      <div class="form-group">
        <label for="foods_fat" class="control-label">
          Foods fat
        </label>

        <input type="text" id="foods_fat" name="foods_fat" placeholder="Foods fat" class="form-control" value="">
      </div>

      <!-- Label and input for foods_sugar -->
      <div class="form-group">
        <label for="foods_sugar" class="control-label">
          Foods sugar
        </label>

        <input type="text" id="foods_sugar" name="foods_sugar" placeholder="Foods sugar" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Foods Nutrition
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Foods catagory has many user_cheat_allowances -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Cheat Allowances
      </li>

      <% @foods_catagory.user_cheat_allowances.each do |user_cheat_allowance| %>
        <li class="list-group-item">
          <a href="/user_cheat_allowances/<%= user_cheat_allowance.id %>">
            <%= user_cheat_allowance.week_date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_cheat_allowances/<%= user_cheat_allowance.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_cheat_allowances/<%= user_cheat_allowance.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_cheat_allowance/<%= user_cheat_allowance.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_user_cheat_allowance" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cheat_calories -->
      <div class="form-group">
        <label for="cheat_calories" class="control-label">
          Cheat calories
        </label>

        <input type="text" id="cheat_calories" name="cheat_calories" placeholder="Cheat calories" class="form-control" value="">
      </div>

      <!-- Label and input for cheat_carbs -->
      <div class="form-group">
        <label for="cheat_carbs" class="control-label">
          Cheat carbs
        </label>

        <input type="text" id="cheat_carbs" name="cheat_carbs" placeholder="Cheat carbs" class="form-control" value="">
      </div>

      <!-- Label and input for cheat_fat -->
      <div class="form-group">
        <label for="cheat_fat" class="control-label">
          Cheat fat
        </label>

        <input type="text" id="cheat_fat" name="cheat_fat" placeholder="Cheat fat" class="form-control" value="">
      </div>

      <!-- Label and input for cheat_sugar -->
      <div class="form-group">
        <label for="cheat_sugar" class="control-label">
          Cheat sugar
        </label>

        <input type="text" id="cheat_sugar" name="cheat_sugar" placeholder="Cheat sugar" class="form-control" value="">
      </div>

      <!-- Label and input for week_date -->
      <div class="form-group">
        <label for="week_date" class="control-label">
          Week date
        </label>

        <input type="text" id="week_date" name="week_date" placeholder="Week date" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for foodscatagory_id -->
      <div class="form-group">
        <label for="foodscatagory_id" class="control-label">
          Foodscatagory
        </label>

        <%= select_tag(:foodscatagory_id, options_from_collection_for_select(FoodsCatagory.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create User Cheat Allowance
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
